.hero {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../assets/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  justify-content: center;
  margin-top: 10rem;
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  margin-top: 4rem;
}

.hero-textbox h2 {
  color: var(--fourth-color);
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
}

.hero-textbox p {
  color: var(--fourth-color);
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 4rem;
  letter-spacing: 4px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media screen and (max-width: 60.625em) {
  .about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.about-img img {
  min-width: 50%;
}

@media screen and (max-width: 38.75em) {
  .about-img img {
    max-width: 100%;
  }
}

.about-textbox {
  font-size: 2rem;
  padding: 2rem;
  letter-spacing: 3px;
  text-align: center;
  min-width: 50%;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.subscribe-container {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 2rem 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 38.75em) {
  .subscribe-container {
    min-width: 100%;
  }
}

.subscribe-container h3 {
  color: var(--fourth-color);
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-wrap: wrap;
}

.subscribe-container input {
  background-color: var(--third-color);
  max-width: 100%;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 38.75em) {
  .subscribe-container input {
    width: 100%;
    text-wrap: wrap;
  }
}

.subscribe-container input::placeholder {
  color: var(--first-color);
  letter-spacing: 2px;
}

@media screen and (max-width: 38.75em) {
  .subscribe-container input::placeholder {
    text-align: center;
    text-wrap: wrap;
  }
}

.subscribe-btn button {
  margin-top: 2rem;
  background-color: var(--second-color);
  color: var(--fourth-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 5px 0;
  width: 12rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
