.hero {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../assets/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  justify-content: center;
  margin-top: 10rem;
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  margin-top: 4rem;
}

.hero-textbox h2 {
  color: var(--fourth-color);
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
}

.hero-textbox p {
  color: var(--fourth-color);
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 4rem;
  letter-spacing: 4px;
}

.about-banner {
  background-color: var(--second-color);
  color: var(--fourth-color);
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-img img {
  min-width: 50%;
}

.about-textbox {
  font-size: 2rem;
  padding: 2rem;
  letter-spacing: 3px;
  text-align: center;
}
