.flies {
  margin-top: 12rem;
  position: relative;
  /* border: 3px solid purple; */
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and(max-width: 53.125em) {
  .flies {
    flex-direction: column;
  }
}

.flies-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--fourth-color);
  width: 27rem;
  height: 45rem;
  margin-left: 6rem;
  position: fixed;
  top: 12rem;
  left: 0;
  /* border: 2px solid red; */
}

@media screen and(max-width: 53.125em) {
  .flies-category {
    position: relative;
    margin: 0;
    width: 100%;
    top: auto;
    left: auto;
  }
  .flies-container {
    margin-top: 45rem;
  }
}

.flies-category h3 {
  background-color: var(--second-color);
  color: var(--fourth-color);
  font-weight: 350;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 0.3rem 3rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.flies-names {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 3px;
}

.flies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-left: 38rem;
  width: 100%;
}

@media screen and(max-width: 53.125em) {
  .flies-container {
    margin-left: 0;
    margin-top: 45rem;
  }
}
.main-fly-container {
  width: 40rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.fly {
  background-color: var(--fourth-color);
  width: 40rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: all 1s ease;
  position: relative;
}

.fly img {
  width: 100%;
  height: 25vh;
}

.fly h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--first-color);
  text-align: center;
}

.fly p {
  font-size: 1.5rem;
  padding: 2rem 1rem;
  text-align: center;
}

.fly-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.fly-btn {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--first-color);
  color: var(--fourth-color);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
