.flies {
  margin-top: 12rem;
  position: relative;
  border: 3px solid purple;
  min-height: 100vh;
  display: flex;
  z-index: -1;
}

.flies-category {
  font-size: 3rem;
  width: 27rem;
  height: 59rem;
  margin-left: 8rem;
  position: fixed;
  top: 12rem;
  left: 0;
}

.right {
    margin-left: 40rem;
}