.contact-bg {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../assets/contactBg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  justify-content: center;
  margin-top: 10rem;
}

.contact-bg h2 {
  font-size: 6rem;
  color: var(--fourth-color);
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: flex;
  padding: 2rem;
}

@media screen and (max-width: 53.75em) {
  .contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 45%;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.contact-form input {
  background-color: var(--fifth-color);
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem 3rem;
}

.errors {
  color: red;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message textarea {
  background-color: var(--fifth-color);
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  text-align: center;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.contact-form button {
  background-color: var(--fifth-color);
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.why-us h3 {
  font-size: 3rem;
  text-transform: capitalize;
}

.why-us p {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.map-section {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media screen and (max-width: 53.75em) {
  .map-section {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 4rem;
  }
}

.map {
  width: 50rem;
  border: 3px solid;
}

@media screen and (max-width: 31.25em) {
  .map {
    width: 34rem;
  }
}

.map iframe {
  width: 100%;
}

@media screen and (max-width: 31.25em) {
  .map iframe {
    min-width: 100%;
  }
}

.open-hours {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 37.5em) {
  .open-hours {
    min-width: 100%;
  }
}

.open-hours h3 {
  font-size: 3rem;
  text-transform: capitalize;
  padding: 2rem 0;
  letter-spacing: 3px;
}

.open-hours p {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 3px;
}
